[irc]
ServerHost = ${IRC_SERVER}
ServerPort = ${IRC_PORT}
ServerPassword = ${IRC_PASSWORD}
SSL = ${IRC_SSL}
Channels = ${IRC_CHANNELS}
Nickname = ${IRC_NICK}

[sqlite3]
Filename = /data/bavi.db

[log]
level = INFO
